<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout">
<head>
    <meta charset="UTF-8"/>
    <title>Inspection domain</title></head>
<body>
<section layout:fragment="content">
    <p>
    <h2>Show Inspection!</h2>
    <div th:object="${inspection}">
        <table border='0'>
            <tr>
                <td>Id :</td>
                <td th:text="*{id}">1</td>
            </tr>
            <tr>
                <td>Contract Id :</td>
                <td th:text="*{contract.id}">1</td>
            </tr>
            <tr>
                <td>Customer Id :</td>
                <td th:text="*{contract.customer.id}">0001</td>
            </tr>
            <tr>
                <td>Customer Name :</td>
                <td th:text="*{contract.customer.name}">Name of customer</td>
            </tr>
            <tr>
                <td>Inspection date :</td>
                <td th:text="*{inspectionDate}">2017/03/19</td>
            </tr>
            <tr>
                <td>Use Amount :</td>
                <td th:text="*{useAmount}">123456</td>
            </tr>
        </table>

    </div>
    </p>
</section>
</body>
</html>