<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Customer</title>
</head>
<body>
<h2>Input Customer!</h2>
<form th:action="@{/customer/create}" th:object="${customerCreationForm}"
      method="POST">

    <div th:if="${#fields.hasErrors('all')}" class="alert alert-danger">
        <p th:text="#{common.error}">ErrorMessage</p>
    </div>

    <div class="form-group">
        <label for="customerId">Id<span
                th:if="${#fields.hasErrors('customerId')}" class="text-danger"
                th:errors="*{customerId}">Error</span>
        </label> <input type="text" class="form-control" id="customerId"
                        name="customerId" th:field="*{customerId}" placeholder="CustomerId" />
    </div>

    <div class="form-group">
        <label for="name">Name<span
                th:if="${#fields.hasErrors('name')}" class="text-danger"
                th:errors="*{name}">Error</span>
        </label> <input type="text" class="form-control" id="name"
                        name="name" th:field="*{name}" placeholder="Name" />
    </div>

    <div class="form-group">
        <label for="address">Address<span
                th:if="${#fields.hasErrors('address')}" class="text-danger"
                th:errors="*{address}">Error</span>
        </label> <input type="text" class="form-control" id="address"
                        name="address" th:field="*{address}" placeholder="Address" />
    </div>

    <div class="form-group">
        <label for="phoneNumber">Phone Number<span
                th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger"
                th:errors="*{phoneNumber}">Error</span>
        </label> <input type="text" class="form-control" id="phoneNumber"
                        name="phoneNumber" th:field="*{phoneNumber}" placeholder="Phone Number" />
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn">Reset</button>
    </div>
</form>

</body>
</html>